<div class="auto-trade-page-container">
    <h1 class="auto-trade-header">Use the prompt below to configure your automated trade</h1>
    <form id="auto-trade-form">
        <div class="form-item">
            <input type="number" required name="shareAmount" placeholder="Amount of Shares"
             [(ngModel)]="shareAmount">
            <div class="error" id="messageError">Share amount is required</div>
            <div class="slider-container">
                <div class="slider-labels">
                    <span class="label low" [class.active]="riskSliderValue === 0">Low Risk</span>
                    <span class="label medium" [class.active]="riskSliderValue === 1">Medium Risk</span>
                    <span class="label high" [class.active]="riskSliderValue === 2">High Risk</span>
                </div>

                <mat-slider class="risk-slider" min="0" max="2" step="1" [discrete]="true">
                    <input matSliderThumb
                           [value]="riskSliderValue"
                           (valueChange)="onRiskValueChange($event)">
                  </mat-slider>
                  
                <div class="selected-risk">Selected Level of Risk: {{getCurrentRiskLabel()}}</div>
            </div>
            <div class="form-btns">
                <button (click)="cancelAutoTrade()">CANCEL AUTO TRADE</button>
                <button (click)="storeAutoTrade()">SUBMIT AUTO TRADE</button>
            </div>
        </div>
    </form>
</div>