<div class="trade-view-asset">
    <h2 class="asset-name">{{ name }}</h2>
    <ul class="asset-info">
      <li class="id"><strong>ID:</strong> {{ id }}</li>
      <li class="class"><strong>Class:</strong> {{ class }}</li>
      <li class="exchange"><strong>Exchange:</strong> {{ exchange }}</li>
      <li class="symbol"><strong>Symbol:</strong> {{ symbol }}</li>
      <li class="status"><strong>Status:</strong> {{ status }}</li>
      <li class="tradable"><strong>Tradable:</strong> {{ tradable ? 'Yes' : 'No' }}</li>
    </ul>
</div>
